.input {
    display: block;
    background-color: #2e2e2e;
    color: #ffffff;
    width: 100%;
    margin-right: 20px;
    border: 0;
    border-radius: 5px;
    padding: 0 20px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
    height: 54px;
    line-height: 54px;
}

.input::placeholder {
    color: #999999;
}

.input::-webkit-input-placeholder {
    color: #999999;
}

.input::-moz-placeholder {
    color: #999999;
}

.input:-ms-input-placeholder {
    color: #999999;
}

.label {
    color: #F65261;
    text-transform: uppercase;
    font-weight: 500;
    padding-bottom: 5px;
    font-size: 14px;
}