
.selectWrap {
    padding: 15px 0;
    position: relative;
}

.label {
    text-transform: uppercase;
    padding-right: 30px;
    color: #8b8b8b;
}

.selectWrap::after {
    content: "";
    position: absolute;
    right: 0;
    top: 23px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-top: 6px solid #F65261;
    cursor: pointer;
}