.btnPrimary {
    display: inline-block;
    color: #ffffff;
    background-color: #F65261;
    border: 2px solid #F65261;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    padding: 0 30px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: .5px;
    line-height: 54px;
    vertical-align: top;
    min-width: 180px;
}

.btnPrimaryInvert {
    display: inline-block;
    background-color: #232323;
    color: #F65261;
    border: 2px solid #F65261;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    padding: 0 30px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: .5px;
    line-height: 54px;
    vertical-align: top;
    min-width: 180px;
}

.btnSecondary {
    display: inline-block;
    color: #F65261;
    background: rgba(66,66,66,0.8);
    border: 2px solid rgba(66,66,66,0.8);
    border-radius: 5px;
    text-align: center;
    font-size: 22px;
    line-height: 50px;
    text-transform: uppercase;
    padding: 0 20px;
    font-weight: 500;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.btnLarge {
    min-width: 240px;
}

.btnPrimary:hover,
.btnPrimary:active,
.btnSecondary:hover,
.btnSecondary:active {
    border: 2px solid #fc626f;
    background-color: #fc626f;
    color: #efefef;
}

.btnPrimaryInvert:hover,
.btnPrimaryInvert:active{
    border: 2px solid #ac3a44;
    background-color: #000000;
    color: #ac3a44;
}

.btnPrimary:disabled,
.btnSecondary:disabled {
    border: 2px solid #353434;
    background-color: #353434;
    color: #efefef;
}