input[type="text"] {
    background-color: rgba(66,66,66,0.8);
    color: #ffffff;
    width: 70%;
    height: 50px;
    margin-right: 20px;
    border: 0;
    border-radius: 5px;
    padding: 10px 20px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 300;
    height: 54px;
    display: inline-block;
    vertical-align: top;
}
input::placeholder {
    color: #999999;
}