.itemDrop {
  position: relative;
  padding: 6px 30px 6px 20px;
  text-align: left;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.itemDrop:hover, .itemDrop.active {
  background-color: #F65261;
}

.itemDrop.active::after {
  content: "";
  position: absolute;
  right: 8px;
  top: 15px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top: 6px solid #ffffff;
  cursor: pointer;
}

.itemDrop.active.up::after {
  top: 8px;
  border: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
}