.modalOverlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 68px;
  width: 1200px;
  z-index: 1000;
}

.modal {
  background-color: #232323;
  z-index: 1010;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 75px 65px;
  width: 560px;
  min-height: 300px;
  max-height: 95vh;
  overflow-y: auto;
  scrollbar-width: 0;
  -ms-overflow-style: none;
}

.modal::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.modalHeader h2 {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 1.4;
  color: #ffffff;
  text-align: left;
  padding-bottom: 10px;
}

.modalContent .item {
  padding-bottom: 20px;
}

.modalContent p {
  font-size: 20px;
  padding: 20px 0;
}

.closeBtn {
  display: block;
  position: absolute;
  right: 20px;
  top: 15px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.closeBtn:before, .closeBtn:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #ffffff;
}

.closeBtn:before {
  transform: rotate(45deg);
}

.closeBtn:after {
  transform: rotate(-45deg);
}