@import '~normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
body {
    background: #333333;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
h1 {
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
}
.error {
    background: #cccccc no-repeat top 100px center / 50% url("images/404.jpg");
}