.buttonSecondary {
    color: #F65261;
    background: rgba(66,66,66,0.8);
    border-radius: 5px;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    padding: 0 20px;
    font-weight: 500;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    display: block;
}
.buttonSecondary span {
    position: relative;
    line-height: 44px;
}
.buttonSecondary span::before {
    content: "+";
}