.item {
  margin-bottom: 20px;
  position: relative;
}

.btnWrap {
  margin-top: 40px;
  text-align: right;
}

.btnWrap button {
  margin-left: 20px;
}

.itemDate {
  display: block;
  background-color: #2e2e2e;
  color: #ffffff;
  width: 100%;
  margin-right: 20px;
  border: 0;
  border-radius: 5px;
  padding: 0 20px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 300;
  height: 54px;
  line-height: 54px;
  background-image: url("./../../assets/images/icon-date-picker.jpg");
  background-repeat: no-repeat;
  background-position: center right 20px;
  background-size: 35px;
}

.itemDateWrap {
  z-index: 5;
}

.itemDateWrap input {
  width: 400px;
}

.label {
  color: #F65261;
  text-transform: uppercase;
  font-weight: 500;
  padding-bottom: 5px;
  font-size: 14px;
}