.item {
    width: 28%;
    margin: 0 30px 35px;
    padding-bottom: 5px;
    position: relative;
}
.item:hover .icon {
    opacity: 1;
}
.icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #232323;
    text-align: center;
    padding: 0 14px;
    opacity: 0;
    cursor: pointer;
}
.icon:after {
   content: '\2807';
   font-size: 25px;
   line-height: 40px;
}

.itemInfo {
    position: relative;
}

.itemImgWrap {
    margin-bottom: 26px;
    min-height: 444px;
    background: #424242 no-repeat center / 140px url("../../../assets/images/bg-no-image.png");
}

.itemImgWrap img {
    width: 100%;
}

.itemData {
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid #b4b3b3;
    color: #818080;
    font-size: 13px;
    line-height: 20px;
    padding: 0 10px;
    border-radius: 5px;
    height: 22px;
    width: 48px;
}

.itemGenre {
    color: #8b8b8b;
    font-size: 16px;
}

.item h3 {
  color: #aaaaaa;
  font-size: 18px;
}
